<ion-view view-title="">
  
  <ion-nav-bar class="navbarbackimg">
    <ion-nav-buttons side="left">
      <a ng-click="goback()" class="button button-icon" style="color:#fff;">
        <i class="ion-chevron-left"></i>
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <div class="list">
        <!-- <a ui-sref="cart" class="item item-icon-right" style="background-color:rgba(0, 0, 0, 0);border:none;overflow: visible;">
          <span class="badge badge-assertive" style="top:0;" ng-if="cartsum > 0">{{recalc(cartsum)}}</span>
          <i class="icon btn_cart"></i>
        </a> -->
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="contentbackgift">

    <div style="width:100%;height:100%;top:0;bottom:0;" cache-src="http://www.olegtronics.com/admin/img/gifts/{{gift.gifts_institution}}/pic/{{gift.gifts_pic}}" src-is="background" background-style="no-repeat center" on-finish="acceptStyle" ng-style="myStyle">
    
      <div class="card" style="right:0;left:0;max-width:80%;margin:0 auto;border-radius:15px;">
        <div class="item item-text-wrap" style="border-bottom:1px solid rgba(0,0,0,0.5);margin:0px;border-radius:15px 15px 0 0;">
          <h1 class="hh1" ng-bind-html="gift.gifts_name"></h1>
          <h4 class="dark" style="font-family:SFUITR;font-size:13px;">{{'gifts_detail_cost' | translate}}</h4>
          <h1 style="color:#BB9B5F;margin-top:5px;font-family:SFUIDT;"><img style="vertical-align:middle;" src="img/signs/points.png" height="40" /> {{gift.gifts_points}}</h1>
        </div>
        <div class="item item-text-wrap" style="border:0px;margin:0px;border-radius:0 0 15px 15px;">
          <p style="font-family:SFUITR;font-size:17px;" ng-bind-html="gift.gifts_desc"></p>
        </div>
      </div>

    </div>

  </ion-content>
  <button ng-click="getGift()" class="button button-full button-balanced giftmiddletabs" style="background-color:#BB9B5F;font-family:SFUITR;font-size:17px;">{{'gifts_detail_get' | translate}}</button>
</ion-view>
