<ion-view view-title="{{'menue_cat_title' | translate}}">
  
  <ion-nav-bar class="navbarbackimg">
    <!--<ion-nav-back-button></ion-nav-back-button>-->
    <ion-nav-buttons side="right">
      <div class="list">
        <!-- <a ui-sref="cart" class="item item-icon-right" style="background-color:rgba(0, 0, 0, 0);border:none;overflow: visible;">
          <span class="badge badge-assertive" style="top:0;" ng-if="cartsum > 0">{{recalc(cartsum)}}</span>
          <i class="icon btn_cart"></i>
        </a> -->
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="contentbackmenu">
    
    <div class="card" ui-sref="tab.menu({menuCat: cat.cat_id})" ng-repeat="cat in cats" style="position:relative;top:0px;background-size:cover;padding:0;margin-top:7px;margin-bottom:7px;" cache-src="http://www.olegtronics.com/admin/img/menu/{{cat.cat_institution}}/cat/{{cat.cat_pic}}" src-is="background" background-style="no-repeat center" on-finish="acceptStyle" ng-style="myStyle">
      <div class="item item-text-wrap" style="background-color:rgba(0,0,0,0.5);border:0px;margin:0px;">
        <h2>&nbsp;</h2>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      <div class="item item-divider" style="background-color:rgba(0,0,0,0.5);border:0px;margin:0px;">
        <h2 class="light" style="font-family:SFUITR;" ng-bind-html="cat.cat_name"></h2>
      </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

  </ion-content>
</ion-view>