<ion-view view-title="{{'support_title' | translate}}">
  
  <ion-nav-bar class="navbarbackimg">
    <ion-nav-buttons side="left">
      <a ng-click="goback()" class="button button-icon" style="color:#fff;">
        <i class="ion-chevron-left"></i>
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <div class="list">
        <!-- <a ui-sref="cart" class="item item-icon-right" style="background-color:rgba(0, 0, 0, 0);border:none;overflow: visible;">
          <span class="badge badge-assertive" style="top:0;" ng-if="cartsum > 0">{{recalc(cartsum)}}</span>
          <i class="icon btn_cart"></i>
        </a> -->
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    
    <div class="list">
      <div class="item item-button-right SFUITR" ng-repeat="theme in allthemes" ui-sref="tab.support-details({supportId: theme.id})">
        <h4 ng-bind-html="theme.name"></h4>
        <button class="button button-clear button-stable">
          <i class="icon ion-chevron-right"></i>
        </button>
      </div>
    </div>

    <div style="background-color:rgba(0,0,0,0);text-align:center;border:0px;margin:0px;" ui-sref="support-chat">
      <img src="img/signs/paperflight.png" width="10%" />
      <h5 class="SFUITR">{{'support_connection' | translate}}</h5>
      <h6 class="SFUITR">{{'support_question' | translate}}</h6>
    </div>

    <br/>
    <br/>

  </ion-content>
</ion-view>
