<ion-view view-title="">
  
  <ion-nav-bar class="navbarbackimg">
    <ion-nav-buttons side="left">
      <a ng-click="goback()" class="button button-icon" style="color:#fff;">
        <i class="ion-chevron-left"></i>
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <div class="list">
        <!-- <a ui-sref="cart" class="item item-icon-right" style="background-color:rgba(0, 0, 0, 0);border:none;overflow: visible;">
          <span class="badge badge-assertive" style="top:0;" ng-if="cartsum > 0">{{recalc(cartsum)}}</span>
          <i class="icon btn_cart"></i>
        </a> -->
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="contentbackmenu">
    
    <div style="width:100%;height:100%;top:0;bottom:0;" cache-src="http://www.olegtronics.com/admin/img/menu/{{menu.menue_institution}}/300/{{menu.menue_pic}}" src-is="background" background-style="no-repeat center" on-finish="acceptStyle" ng-style="myStyle">

      <div class="card" style="right:0;left:0;max-width:80%;margin:0 auto;border-radius:15px;">
        <div class="item item-text-wrap" style="border-bottom:1px solid rgba(0,0,0,0.5);margin:0px;border-radius:15px 15px 0 0;">
          <h1 class="hh1" ng-bind-html="menu.menue_name"></h1>
          <h4 class="dark" style="font-family:SFUITR;">{{'menue_detail_costs' | translate}} </h4>
          <h1 style="color:#BB9B5F;margin-top:5px;font-family:SFUITR;">{{'menue_detail_money' | translate}} {{recalc(menu.menue_cost)}}</h1>
        </div>
        <!-- <div class="item item-text-wrap" style="border-bottom:1px solid rgba(0,0,0,0.5);margin:0px;padding:0px;">
          <div class="row">
            <div class="col" style="text-align:center;">
              <button class="button button-clear" ng-click="sub(menu)"><i class="icon ion-minus darkgreentxt"></i></button>
            </div>
            <div class="col" style="text-align:center;">
              <h1 class="darkgreentxt" style="text-align:center;font-family:SFUITR;">{{getAmount(menu)}} <small>{{'menue_detail_amount' | translate}}</small></h1>
            </div>
            <div class="col" style="text-align:center;">
              <button class="button button-clear" ng-click="add(menu)"><i class="icon ion-plus darkgreentxt"></i></button>
            </div>
          </div>
        </div> -->
        <div class="item item-text-wrap" style="border:0px;margin:0px;border-radius:0 0 15px 15px;">
          <p style="font-family:SFUITR;" ng-bind-html="menu.menue_desc"></p>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
