<ion-view>
  <ion-nav-bar class="bar-clear"></ion-nav-bar>
  <ion-content class="padding contentback" scroll="false">
    <div class="row row-center">
      <div class="col col-center" style="text-align:center;">
        <img src="img/logo.png" width="70%" />
        <progress max="100" value="{{progress}}" id="loadingbar" style="background-color:#BB9B5F;border-radius:2px;height:4px;width:70%;"></progress>
        <p class="light">Сделано на платформе</p>
        <p class="light"><img src="img/signs/profify.png" width="50%" /></p>
        <!-- <i class="icon ion-wifi assertive"></i> -->
    		<!--<h2 class="light" style="text-align: center;">{{'login_nointernet' | translate}}</h2>-->
    	</div>
    </div>
  </ion-content>
</ion-view>
