<ion-modal-view>
  <ion-header-bar align-title="center">
    <button class="button button-clear button-small darkgreentxt" ng-click="notSendReview()" style="font-family:SFUITR;font-size:17px;"><i class="icon ion-chevron-left"></i></button>
    <h1 class="title" style="color:#6D6D72;font-family:SFUITR;font-size:14px;">{{'review_title' | translate}}</h1>
    <button class="button button-clear button-small darkgreentxt" ng-click="sendReview()" style="font-family:SFUITR;font-size:17px;">{{'review_send' | translate}}</button>
  </ion-header-bar>
  <ion-content>
    <div class="padding" style="color:#8C8C8C;background-color:#F8F8F8;text-align:left;border:0px;margin:0px;">
      <br/>
      <h6 style="color:#8C8C8C;font-family:SFUITR;font-size:10px;">{{'review_ask' | translate}}</h6>
    </div>
    <div class="list">
      <!-- <div ng-click="openModal(3)" class="item item-icon-right">
        <p style="color:#8C8C8C;font-family:SFUITR;font-size:10px;">{{'review_location' | translate}}</p>
        <h2 style="font-family:SFUITR;font-size:14px;" ng-bind-html="reviewselected.location"></h2>
        <i class="icon ion-chevron-right"></i>
      </div> -->
      <div class="item">
        <h2 style="display:inline-block;font-family:SFUITR;font-size:14px;">{{'review_stars' | translate}}</h2>
        <span class="item-note">
          <rating class="energized" ng-model="reviewselected.rating" max="ratingmax"></rating>
        </span>
      </div>
      <div ng-click="showImageMaker()" class="item item-icon-right">
        <h2 ng-bind-html="reviewselected.snapshot" style="font-family:SFUITR;font-size:14px;"></h2>
        <i class="icon ion-camera darkgreentxt"></i>
      </div>
      <textarea placeholder="{{'review_review' | translate}}: " style="padding:15px;width:100%;height:100px;word-wrap: break-word;font-family:SFUITR;font-size:14px;" ng-model="reviewselected.ratingtxt"></textarea>
    </div>
  </ion-content>
</ion-modal-view>