<ion-view view-title="{{'about_title' | translate}}">
  
  <ion-nav-bar class="navbarbackimg">
    <ion-nav-back-button></ion-nav-back-button>
    <!-- <ion-nav-buttons side="right">
      <div class="list">
        <a ui-sref="cart" class="item item-icon-right" style="background-color:rgba(0, 0, 0, 0);border:none;overflow: visible;">
          <span class="badge badge-assertive" style="top:0;" ng-if="cartsum > 0">{{recalc(cartsum)}}</span>
          <i class="icon btn_cart"></i>
        </a>
      </div>
    </ion-nav-buttons> -->
  </ion-nav-bar>

  <ion-content class="contentback" style="top:44px;">
    
    <div class="padding" style="text-align: center;font-family:SFUITR;color:#fff;">
      {{'about_text' | translate}}:
      <br/>
      <img src="img/signs/profify.png" style="width:70%;max-width: 80%;margin:0 auto;">
      <br/>
      {{'about_text2' | translate}}
      <br/>
      <a href="javascript:;" onclick="window.open('http://www.profify.me', '_system')">profify.me</a>
    </div>

  </ion-content>
</ion-view>
