<ion-view view-title="{{'tabs_afisha' | translate}}">
  
    <ion-nav-bar class="navbarbackimg">
      <ion-nav-buttons side="right">
        <div class="list">
          <!-- <a ui-sref="cart" class="item item-icon-right" style="background-color:rgba(0, 0, 0, 0);border:none;overflow: visible;">
            <span class="badge badge-assertive" style="top:0;" ng-if="cartsum > 0">{{recalc(cartsum)}}</span>
            <i class="icon btn_cart"></i>
          </a> -->
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>
  
    <ion-content class="contentbacknewss">
  
      <div ng-if="firstgift" class="card" ui-sref="tab.gifts-detail({giftId: gift.gifts_id})" ng-repeat="gift in firstgift track by news.news_id" style="position:relative;top:0px;background-size:cover;padding:0;margin-top:7px;margin-bottom:7px;" cache-src="http://www.olegtronics.com/admin/img/gifts/{{gift.gifts_institution}}/slide/{{gift.gifts_pic}}" src-is="background" background-style="no-repeat center" ng-style="myStyle">
        <div class="item item-text-wrap" style="background-color:rgba(0,0,0,0.5);border:0px;margin:0px;">
          <h2>&nbsp;</h2>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
        <div class="item item-divider" style="background-color:rgba(0,0,0,0.5);border:0px;margin:0px;">
          <div class="row">
            <div class="col col-50">
              <h2 class="light" style="font-family:SFUITR;" ng-bind-html="gift.gifts_name"></h2>
            </div>
            <div class="col" style="padding-left:5px;border-left:1px solid rgba(255,255,255,0.2);">
              <h2 class="light" style="font-family:SFUITR;">{{'news_firstgift' | translate}}</h2>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card" ng-click="goNewsDetail(news)" ng-repeat="news in allnews track by news.news_id" style="position:relative;top:0px;background-size:cover;padding:0;margin-top:7px;margin-bottom:7px;" cache-src="http://www.olegtronics.com/admin/img/news/{{news.news_institution}}/pic/{{news.news_pic}}" src-is="background" background-style="no-repeat center" on-finish="acceptStyle" ng-style="myStyle">
        <div class="item item-text-wrap" style="background-color:rgba(0,0,0,0.5);border:0px;margin:0px;">
          <h2>&nbsp;</h2>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
        <div class="item item-divider item-text-wrap" style="background-color:rgba(0,0,0,0.5);border:0px;margin:0px;">
          <div class="row">
            <div class="col">
              <br/>
              <h2 class="light" style="font-family:SFUITR;" ng-bind-html="news.news_name"></h2>
            </div>
          </div>
        </div>
      </div>
  
      <div style="background-color:rgba(0,0,0,0);text-align:center;border:0px;margin:0px;">
        <!-- <img src="img/signs/percent.png" width="20%" /> -->
        <h5 style="font-family:SFUITR;">{{'news_take_look' | translate}}</h5>
        <h6 style="max-width:200px;margin:0 auto;font-family:SFUITR;">{{'news_look_here' | translate}}</h6>
      </div>
  
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
  
    </ion-content>
  </ion-view>
  