<ion-view view-title="">
  
  <ion-nav-bar class="bar-clear contentbackbar">
    <ion-nav-buttons side="left">
      <a ng-click="goback()" class="button button-icon" style="color:#fff;">
        <i class="ion-chevron-left"></i>
      </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <div class="list">
        <!-- <a ui-sref="cart" class="item item-icon-right" style="background-color:rgba(0, 0, 0, 0);border:none;overflow: visible;">
          <span class="badge badge-assertive" style="top:0;" ng-if="cartsum > '0'">{{recalc(cartsum)}}</span>
          <i class="icon btn_cart"></i>
        </a> -->
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="contentbacknews">
    
    <div style="width:100%;height:100%;top:0;bottom:0;" cache-src="http://www.olegtronics.com/admin/img/news/{{news.news_institution}}/pic/{{news.news_pic}}" src-is="background" background-style="no-repeat center" on-finish="acceptStyle" ng-style="myStyle">

      <div class="card" style="right:0;left:0;max-width:80%;margin:0 auto;border-radius:15px;">
        <div class="item item-text-wrap" style="border:0px;;margin:0px;border-radius:15px 15px 0 0;">
          <h1 class="hh1" ng-if="news.news_name && news.news_name != '' && news.news_name != '0'" style="font-family:SFUITR;" ng-bind-html="news.news_name"></h1>
          <p ng-if="news.news_message && news.news_message != '' && news.news_message != '0'" style="font-family:SFUITR;" ng-bind-html="news.news_message"></p>
          <p ng-if="news.news_begin && news.news_begin != '' && news.news_begin != '0'" style="font-family:SFUITR;"><i class="icon ion-checkmark-circled"></i> {{timecalc(news.news_begin)}}</p>
          <p ng-if="news.news_end && news.news_end != '' && news.news_end != '0'" style="font-family:SFUITR;"><i class="icon ion-close-circled"></i> {{timecalc(news.news_end)}}</p>
        </div>
        <div class="item item-text-wrap" style="border:0px;margin:0px;border-radius:0 0 15px 15px;" ng-if="!news.news_menue_id || news.news_menue_id == '' || news.news_menue_id == '0' || !news.news_cost || news.news_cost == '' || news.news_cost == '0'">
          <p style="font-family:SFUITR;font-size:17px;">&nbsp;</p>
        </div>
        <div class="item item-image item-text-wrap padding" ng-if="news.news_menue_id && news.news_menue_id != '' && news.news_menue_id != '0' && news.news_cost && news.news_cost != '' && news.news_cost != '0'" style="border:0px;margin:0px;border-radius:0 0 15px 15px;">
          <qr ng-if="news.news_menue_id && news.news_menue_id != '' && news.news_menue_id != '0' && news.news_cost && news.news_cost != '' && news.news_cost != '0'" style="margin:0 auto;text-align:center;overflow:visible;" text="qrcodeString" type-number="typeNumber" correction-level="correctionLevel" size="size" input-mode="inputMode" image="image"></qr>
          <h2 ng-if="news.news_menue_id && news.news_menue_id != '' && news.news_menue_id != '0' && news.news_cost && news.news_cost != '' && news.news_cost != '0'" style="text-align: center;font-family:SFUITR;">{{'news_detail_qr' | translate}}</h2>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
