<ion-view view-title="{{'promo_title' | translate}}" class="contentback">
  
  <ion-nav-bar class="bar-clear contentbackbar">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <div class="list">
        <!-- <a ui-sref="cart" class="item item-icon-right" style="background-color:rgba(0, 0, 0, 0);border:none;overflow: visible;">
          <span class="badge badge-assertive" style="top:0;" ng-if="cartsum > 0">{{recalc(cartsum)}}</span>
          <i class="icon btn_cart"></i>
        </a> -->
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <div class="row row-top" style="text-align: center;height:350px;">
      <div class="col col-center">

        <div class="list card" style="margin:0 auto;width:70%;border-radius: 15px;box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);">
          <div class="item item-text-wrap">
            <div class="row">
              <div class="col" style="text-align: center;border-bottom:1px solid rgba(0,0,0,0.1);">
                <h2 style="font-family:SFUITR;">{{'promo_code' | translate}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4 class="dark" style="font-family:SFUITR;">
                    {{(profile.user_surname != '0' && profile.user_surname != '') ? htmlEntities(profile.user_surname) : ''}} 
                    {{(profile.user_name != '0' && profile.user_name != '') ? htmlEntities(profile.user_name) : ''}} 
                </h4>
                <h1 class="darkgreentxt" style="font-family:SFUIDT;">{{profile.user_real_id}}</h1>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <h4 class="light" style="max-width: 200px;margin:0 auto;font-family:SFUITR;">{{'promo_recommend' | translate}}</h4>
        <br/>
        <h6 class="light" style="max-width: 200px;margin:0 auto;font-family:SFUITR;">{{'promo_use_promo' | translate}}</h6>

      </div>
    </div>
    
    <div class="item item-avatar item-text-wrap" ng-repeat="point in points">
      <img ng-src="{'img/signs/check.png': point.points_comment == '5', 'img/signs/check.png': point.points_comment == '6', 'img/signs/thumb.png': point.points_comment == '7', 'img/signs/thumb.png': point.points_comment == '8'}" />
      <h2 ng-if="point.points_comment > '100' && point.points_user != profile.user_real_id">{{'promo_use_friend' | translate}}</h2>
      <h2 ng-if="point.points_comment > '100' && point.points_comment == profile.user_real_id">{{'promo_use_me' | translate}}</h2>
      <h2 ng-if="point.points_comment == '7'">{{'promo_come_friend' | translate}</h2>
      <h2 ng-if="point.points_comment == '5' || point.points_comment == '8'">{{'promo_use_me' | translate}}</h2>
      <p>
        <span ng-if="point.points_comment == '5' || point.points_comment == '7' || point.points_comment == '8'">
          {{'promo_you' | translate}} + {{point.points_points}} <img src="img/signs/points.png" height="10" />
        </span>
        <span ng-if="point.points_comment > '100' && point.points_comment == profile.user_real_id">
          {{'promo_you' | translate}} + {{point.points_points}} <img src="img/signs/points.png" height="10" />
        </span>
        <span ng-if="point.points_comment > '100' && point.points_comment != profile.user_real_id">
          {{'promo_friend' | translate}} + {{point.points_points}} <img src="img/signs/points.png" height="10" />
        </span>
        <!--<span ng-if="point.points_points > 0" style="padding-left:5px;border-left:1px solid rgba(0,0,0,0.1);">
          {{'promo_friend' | translate}} + {{point.points_points}} <img src="img/signs/points.png" height="10" />
        </span>-->
      </p>
    </div>
    
  </ion-content>
</ion-view>
