/* -------------------------------- 

Paddings and margins

-------------------------------- */
.marginBottom0 {
  margin-bottom: 0;
}
.marginTop0 {
  margin-top: 0;
}
.marginTop5 {
  margin-top: 5px !important;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 93%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.timelineText {
  color: black;
}
.timelineIcon {
  font-size: 20px;
  color: white;
}
.cd-author {
  color:gray;
}
#cd-timeline {
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 70px;
  left: 25px;
  bottom:130px;
  width: 1px;
  background: gray;
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  padding-top:5px;
  background: white;
}

.cd-timeline-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  background: white;
}
.cd-timeline-picture img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  border-color: #BDDFB3;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
  border-right-color: inherit;
}

.cdborderyellow {
  border-color: #F8CA1C;
}
.cdbackyellow {
  background-color: #F8CA1C;
}
.cdcoloryellow {
  color: #F8CA1C;
}

.cdbordergreen {
  border-color: #BB9B5F;
}
.cdbackgreen {
  background-color: #BB9B5F;
}
.cdcolorgreen {
  color: #BB9B5F;
}

.cdborderred {
  border-color: #C47EBE;
}
.cdbackred {
  background-color: #C47EBE;
}
.cdcolorred {
  color: #C47EBE;
}

.statusinject {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float:left;
  margin:3px;
}

.cd-timeline-contentnew {
  position: relative;
  margin-left: 30px;
  background: white;
  border-bottom:1px solid #D8D8D8;
  margin-bottom: 10px;
  padding: 0 0 10px 10px;
}